<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>YOLO Flask</title>
</head>
<body>
    <h1>이미지 업로드</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">업로드</button>
    </form>

    {% if last_image %}
    <hr>
    <h2>최근 업로드된 이미지:</h2>
    <img src="{{ url_for('static', filename='uploads/' + last_image) }}" width="300">
    {% else %}
    <p>아직 업로드된 이미지가 없습니다!</p>
    {% endif %}
</body>
</html>
